<div class="col-md-12">
  <h5>View Authors in RedBeryl Book Store...</h5>
  <div class="card card-container p-3">
    <p *ngIf="!authors"><em>Loading...</em></p>

    <div>
      <table class='table' *ngIf="authors">
        <thead>
          <tr>
            <th hidden>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Active</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let author of authors">
            <td hidden>{{ author.id }}</td>
            <td>{{ author.firstName }}</td>
            <td>{{ author.lastName }}</td>
            <td>{{ author.email }}</td>
            <td>{{ author.isActive }}</td>
            <td *ngIf="!author.isActive" class="text-center">
              <a [routerLink]="" (click)="activate(author.id)" class="btn btn-success">Activate</a>
            </td>
            <td *ngIf="author.isActive" class="text-center">
              <a [routerLink]="" (click)="deactivate(author.id)" class="btn btn-danger">Deactivate</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group">
      <div class="alert alert-danger"
           role="alert"
           *ngIf="isError">
        Get Authors failed: {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
